node_modules/
dist/
__pycache__/
*.gz
.next/
.env
.env.local
*.parquet
*.db
.claude
_meta.json
tsconfig.tsbuildinfo
backend/alembic/
backend/artifacts/
backend/secrets/
/artifacts/
*.egg-info/
backend/model_core/build/
tsconfig.tsbuildinfo
.github
.vscode